<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Smart Uploader</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" th:text="${familyname}"></a>
</nav>

<ul>
    <li><a th:href="@{/uploadOneFile}">Upload One File Example</a></li>
    <li><a th:href="@{/uploadMultiFile}">Upload Multiple Files Example</a></li>
</ul>
<main role="main" class="container">

    <div class="starter-template">
        <h1>Smart Uploader</h1>
        <h2>
            <span th:text="'Hello, ' + ${familyname}"></span>
        </h2>
    </div>

    <a th:href="@{fileUploader}">To the Uploader</a>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>